@use "../variables";

.builder-class-level {
  width: 60px;
}

.builder-btn-multiclass {
  height: 30px;
  width: 160px;
}

.builder-btn-remove-class {
  height: 30px;
  align-self: last baseline;
}

.builder-class-table {
  display: grid;
  gap: 1rem;
}

.builder-class-table-col {
}
