@use "../variables";

.builder-class-level {
  width: 60px;
}

.builder-class-select {
  width: 120px;
}

.builder-btn-multiclass {
  height: 30px;
  width: 160px;
}

.builder-btn-remove-class {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

.builder-class-table {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
}
