@use "../variables";

#builder {
  @media (min-width: 768px) {
    min-width: 768px;
    max-width: 768px;
  }
  height: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;

  #builder-tabs {
    display: flex;
    gap: 14px;

    a {
      vertical-align: center;
      padding: 2px 6px 2px 6px;
      outline: 1px solid variables.$border-color;
      border-radius: 7px;
      user-select: none;
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      background-color: rgba(variables.$border-color, 0.2);
      cursor: pointer;
    }

    a:active {
      background-color: rgba(variables.$border-color, 0.5);
    }

    a.active {
      background-color: rgba(variables.$border-color, 0.5);
      outline-color: rgba(variables.$border-color, 0.5);
    }
  }

  .builder-tab-content {
    margin-bottom: 30px;
  }

  .builder-sections {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .builder-section {
    display: flex;
    gap: 10px;
  }

  .builder-feature-text {
    color: rgba(variables.$text-color, 0.4);
    margin: 0;
  }

  .builder-heading-section {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .builder-avatar {
    border-radius: 10px;
  }

  .builder-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 1em;
    align-items: baseline;
  }

  .builder-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .builder-tab-row {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
  }

  .builder-tab {
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
  }

  .builder-tab-active {
    background-color: rgba(variables.$border-color, 0.3);
  }
}
