@use "variables";

:root {
  height: 100%;
  body {
    height: 100%;
  }

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: variables.$background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  textarea {
    resize: none;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
    color: rgba(variables.$text-color, 0.4);
  }

  ul.b {
    list-style-position: inside;
  }

  ul {
    margin-top: 0;
    padding-left: 32px;
    margin-bottom: 10px;
  }

  li {
    color: rgba(variables.$text-color, 0.4);
    list-style-type: disc;
  }

  button:hover {
    cursor: pointer;
  }

  .text-warning {
    color: red;
  }

  h3,
  h4,
  h5 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  table {
    color: rgba(variables.$text-color, 0.4);
  }

  th {
    text-align: left;
    color: rgba(variables.$text-color, 0.4);
  }
}
